.footer-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    background-color: #F4F6F8;
    font-weight: 300;
    font-size: smaller;

}

@media screen and (max-width:430px){
    .footer-container {
        margin-top: 80px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 1rem 1rem;
        background-color: #F4F6F8;
        position: absolute;
    }
    .footer-container p{
        margin: 5px 0;
    }
    .footer-container p.copy{
        margin-top: 25px;
    }
}