.outer-button-container{
    width: 117px;
}

.outer-button-container button{
    width: 100%;
    /* height: 50px; */
    color: #ff5531;
    background-color: #060606;
    border: none;
    font-size: 16px;
    padding: 15px 10px;
}
.outer-button-container button:active{
    opacity: 0.75;
}