.versuspayment-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* opacity: 0.4; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.versuspayment-container{
    width: 354px;
    height: 302px;
    background-color: white;
    border-radius: 20px;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.versuspayment-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}
.versuspayment-div img{
    width: 30px;
    height: 30px;
}
.versuspayment-div-ticket{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.versuspayment-div-ticket .name-ticket{
    margin-left: 55px;
    font-size: 13px;
}
.versuspayment-div-ticket p{
    font-size: 13px;
    color: black;
    
}
.versuspayment-div-pay{
    display: flex;
}
.versuspayment-div-pay p.price-ticket{
    margin-left: 10px;
    color: black;
}
.versuspayment-container form{
    display: flex;
    flex-direction: column;
    width: 300px;

}
.versuspayment-container form .card-number{
    width: 100%;
    display: flex;
    margin: 10px 0;
}
form .card-number input{
    width: 100%;
    padding: 10px;
    border: 1.3px solid #999999;
    border-radius: 10px;
}
form .card-expiry{
    margin: 10px 0;
}
form .card-expiry input:first-child{
   margin-right: 10px;
}
form .card-expiry input{
    padding: 10px;
    width: 145px;
    border: 1.3px solid #999999;
    border-radius: 10px;
}
.versuspayment-container .secured-by{
    display: flex;
    flex-direction: column;
}
.versuspayment-container .versus-pay{
    display: flex;
    align-items: center;
}
.versus-pay p{
    font-size: 12px;
    margin-left: 20px;
}
.versus-pay .icon{
    font-size: 11px;
}
.secured-by p.by{
    font-size: 18px;
    font-weight: bolder;
}